<h1><center>welcome to Online Attendance system</center></h1>
<h2> <center> Department Of Computer science </center></h2>
<h3><center> Universty Of Balochistan</center></h3>

<center>
<body background-color="green">

<img src="images/uob.jpeg" width="620" height="400">
</center> 
